In [24]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the data. 
# Used zip file bcse csv file was too big to upload to github.
#df = pd.read_csv('../Resources/2017.csv')
df1 = pd.read_csv('../Resources/clean_data1.csv')
df1.head(3).append(df1.tail(3))

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,3,2017-01-01,American Airlines,DFW,HNL,2,77.0,19.0,3,3,5.0,3,97.0,517.0,537.0,513.0,3784.0,1,1,1
1,5,2017-01-01,American Airlines,DFW,OGG,2,399.0,12.0,3,4,6.0,3,394.0,503.0,498.0,480.0,3711.0,1,1,1
2,27,2017-01-01,American Airlines,DFW,SFO,4,6.0,18.0,4,4,8.0,4,10.0,237.0,241.0,215.0,1464.0,1,1,1
908781,5674588,2017-12-31,United Airlines,DEN,RIC,2,-8.0,11.0,2,3,7.0,3,-43.0,206.0,171.0,153.0,1482.0,0,31,12
908782,5674615,2017-12-31,United Airlines,DEN,CID,3,-2.0,12.0,3,3,8.0,3,-13.0,115.0,104.0,84.0,692.0,0,31,12
908783,5674619,2017-12-31,United Airlines,LAS,SFO,2,-8.0,11.0,2,3,15.0,3,-15.0,99.0,92.0,66.0,414.0,0,31,12

In [4]:
df2 = pd.read_csv('../Resources/clean_data2.csv')
df2.head(3).append(df2.tail(3))

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,1,2017-01-01,American Airlines,LAX,JFK,2,34.0,34.0,2,3,12.0,3,42.0,327.0,335.0,289.0,2475.0,1,1,1
1,2,2017-01-01,American Airlines,LAX,JFK,2,51.0,20.0,3,4,15.0,4,42.0,328.0,319.0,284.0,2475.0,1,1,1
2,8,2017-01-01,American Airlines,LAX,JFK,4,0.0,15.0,4,1,10.0,1,-30.0,327.0,297.0,272.0,2475.0,0,1,1
934142,5674583,2017-12-31,United Airlines,ORD,SAN,3,111.0,16.0,3,3,3.0,3,103.0,266.0,258.0,239.0,1723.0,1,31,12
934143,5674600,2017-12-31,United Airlines,SFO,HNL,4,-7.0,14.0,4,4,3.0,4,-43.0,358.0,322.0,305.0,2398.0,0,31,12
934144,5674602,2017-12-31,United Airlines,SFO,IAH,1,-4.0,16.0,1,2,10.0,2,-13.0,232.0,223.0,197.0,1635.0,0,31,12

In [7]:
df2.OP_CARRIER.unique()

array(['American Airlines', 'JetBlue Airways', 'ExpressJet',
       'Hawaiian Airlines', 'Spirit Airlines', 'SkyWest Airlines',
       'United Airlines', 'Virgin America', 'Alaska Airlines',
       'Delta Airlines', 'Frontier Airlines', 'Southwest Airlines'],
      dtype=object)

In [8]:
nine_cities = df1.append(df2)

In [9]:
nine_cities.head(3).append(df2.tail(3))

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,3,2017-01-01,American Airlines,DFW,HNL,2,77.0,19.0,3,3,5.0,3,97.0,517.0,537.0,513.0,3784.0,1,1,1
1,5,2017-01-01,American Airlines,DFW,OGG,2,399.0,12.0,3,4,6.0,3,394.0,503.0,498.0,480.0,3711.0,1,1,1
2,27,2017-01-01,American Airlines,DFW,SFO,4,6.0,18.0,4,4,8.0,4,10.0,237.0,241.0,215.0,1464.0,1,1,1
934142,5674583,2017-12-31,United Airlines,ORD,SAN,3,111.0,16.0,3,3,3.0,3,103.0,266.0,258.0,239.0,1723.0,1,31,12
934143,5674600,2017-12-31,United Airlines,SFO,HNL,4,-7.0,14.0,4,4,3.0,4,-43.0,358.0,322.0,305.0,2398.0,0,31,12
934144,5674602,2017-12-31,United Airlines,SFO,IAH,1,-4.0,16.0,1,2,10.0,2,-13.0,232.0,223.0,197.0,1635.0,0,31,12

In [10]:
nine_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1842929 entries, 0 to 934144
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   FL_DATE              object
 2   OP_CARRIER           object
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_DELAY            float64
 7   TAXI_OUT             float64
 8   WHEELS_OFF           int64
 9   WHEELS_ON            int64
 10  TAXI_IN              float64
 11  CRS_ARR_TIME         int64
 12  ARR_DELAY            float64
 13  CRS_ELAPSED_TIME     float64
 14  ACTUAL_ELAPSED_TIME  float64
 15  AIR_TIME             float64
 16  DISTANCE             float64
 17  FLIGHT_STATUS        int64
 18  DAY                  int64
 19  MONTH                int64
dtypes: float64(8), int64(8), object(4)
memory usage: 295.3+ MB

In [11]:
nine_cities = nine_cities.drop(["Unnamed: 0","FL_DATE","TAXI_OUT","WHEELS_OFF","WHEELS_ON","TAXI_IN","ARR_DELAY"], axis=1)

In [12]:
nine_cities.shape

(1842929, 13)

In [13]:
nine_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1842929 entries, 0 to 934144
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   OP_CARRIER           object
 1   ORIGIN               object
 2   DEST                 object
 3   CRS_DEP_TIME         int64
 4   DEP_DELAY            float64
 5   CRS_ARR_TIME         int64
 6   CRS_ELAPSED_TIME     float64
 7   ACTUAL_ELAPSED_TIME  float64
 8   AIR_TIME             float64
 9   DISTANCE             float64
 10  FLIGHT_STATUS        int64
 11  DAY                  int64
 12  MONTH                int64
dtypes: float64(5), int64(5), object(3)
memory usage: 196.8+ MB

In [14]:
nine_cities.isna().sum()

OP_CARRIER             0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
DEP_DELAY              0
CRS_ARR_TIME           0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
FLIGHT_STATUS          0
DAY                    0
MONTH                  0
dtype: int64

In [15]:
nine_cities.FLIGHT_STATUS.value_counts(normalize=True)

0    0.608657
1    0.391343
Name: FLIGHT_STATUS, dtype: float64

## Machine Learning

In [16]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [18]:
nine_cities.head()

,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,American Airlines,DFW,HNL,2,77.0,3,517.0,537.0,513.0,3784.0,1,1,1
1,American Airlines,DFW,OGG,2,399.0,3,503.0,498.0,480.0,3711.0,1,1,1
2,American Airlines,DFW,SFO,4,6.0,4,237.0,241.0,215.0,1464.0,1,1,1
3,American Airlines,DFW,DTW,2,-1.0,3,154.0,134.0,117.0,986.0,0,1,1
4,American Airlines,DFW,STL,3,-1.0,4,97.0,88.0,71.0,550.0,0,1,1

In [19]:
#Create features (X) and lables (y)
y = nine_cities["FLIGHT_STATUS"]
X = nine_cities.drop(["FLIGHT_STATUS"], axis=1)

In [20]:
X_new = pd.get_dummies(X)

In [21]:
X_new.head()

,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DAY,MONTH,OP_CARRIER_Alaska Airlines,...,DEST_TUS,DEST_TVC,DEST_TXK,DEST_TYR,DEST_TYS,DEST_UIN,DEST_VLD,DEST_VPS,DEST_XNA,DEST_YUM
0,2,77.0,3,517.0,537.0,513.0,3784.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,399.0,3,503.0,498.0,480.0,3711.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,4,6.0,4,237.0,241.0,215.0,1464.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2,-1.0,3,154.0,134.0,117.0,986.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,3,-1.0,4,97.0,88.0,71.0,550.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

X_new.shape

In [22]:
# Train Test split 
X_train, X_test, y_train, y_test = train_test_split(X_new, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

###PCA

In [32]:
# Using PCA to reduce dimensions to preserve 90% of variance
pca = PCA(n_components=3)
pca_transformed_data = pca.fit_transform(X_train_scaled)

In [33]:
pca = PCA(n_components=3)
pca_transformed_data_test = pca.fit_transform(X_test_scaled)

###Random Forest Model

In [ ]:
clf = RandomForestClassifier(random_state=1, n_estimators=100).fit(pca_transformed_data, y_train)
print(f'Training Score: {clf.score(pca_transformed_data, y_train)}')
print(f'Testing Score: {clf.score(pca_transformed_data_test, y_test)}')

In [ ]:
features = clf.feature_importances_
print(features)
plt.bar(x = range(len(features)), height=features)
plt.show()

###Logistic Regression Model

In [ ]:
lr = LogisticRegression().fit(X_train_scaled, y_train)
print(f'Training Score: {lr.score(X_train_scaled, y_train)}')
print(f'Testing Score: {lr.score(X_test_scaled, y_test)}')

In [ ]:
tsne = TSNE(learning_rate=100)
transformed_features = tsne.fit_transform(pca_transformed_data)
transformed_features