In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the data. 
# Used zip file bcse csv file was too big to upload to github.
#df = pd.read_csv('../Resources/2017.csv')
df1 = pd.read_csv('../Resources/clean_data1.csv')
df1.head(3).append(df1.tail(3))

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,3,2017-01-01,American Airlines,DFW,HNL,2,77.0,19.0,3,3,5.0,3,97.0,517.0,537.0,513.0,3784.0,1,1,1
1,5,2017-01-01,American Airlines,DFW,OGG,2,399.0,12.0,3,4,6.0,3,394.0,503.0,498.0,480.0,3711.0,1,1,1
2,27,2017-01-01,American Airlines,DFW,SFO,4,6.0,18.0,4,4,8.0,4,10.0,237.0,241.0,215.0,1464.0,1,1,1
908781,5674588,2017-12-31,United Airlines,DEN,RIC,2,-8.0,11.0,2,3,7.0,3,-43.0,206.0,171.0,153.0,1482.0,0,31,12
908782,5674615,2017-12-31,United Airlines,DEN,CID,3,-2.0,12.0,3,3,8.0,3,-13.0,115.0,104.0,84.0,692.0,0,31,12
908783,5674619,2017-12-31,United Airlines,LAS,SFO,2,-8.0,11.0,2,3,15.0,3,-15.0,99.0,92.0,66.0,414.0,0,31,12

In [5]:
df2 = pd.read_csv('../Resources/clean_data2.csv')
df2.head(3).append(df2.tail(3))

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,1,2017-01-01,American Airlines,LAX,JFK,2,34.0,34.0,2,3,12.0,3,42.0,327.0,335.0,289.0,2475.0,1,1,1
1,2,2017-01-01,American Airlines,LAX,JFK,2,51.0,20.0,3,4,15.0,4,42.0,328.0,319.0,284.0,2475.0,1,1,1
2,8,2017-01-01,American Airlines,LAX,JFK,4,0.0,15.0,4,1,10.0,1,-30.0,327.0,297.0,272.0,2475.0,0,1,1
934142,5674583,2017-12-31,United Airlines,ORD,SAN,3,111.0,16.0,3,3,3.0,3,103.0,266.0,258.0,239.0,1723.0,1,31,12
934143,5674600,2017-12-31,United Airlines,SFO,HNL,4,-7.0,14.0,4,4,3.0,4,-43.0,358.0,322.0,305.0,2398.0,0,31,12
934144,5674602,2017-12-31,United Airlines,SFO,IAH,1,-4.0,16.0,1,2,10.0,2,-13.0,232.0,223.0,197.0,1635.0,0,31,12

In [4]:
df.OP_CARRIER.unique()

array(['AA', 'B6', 'EV', 'HA', 'NK', 'OO', 'UA', 'VX', 'AS', 'WN', 'DL',
       'F9'], dtype=object)

In [8]:
nine_cities = df1.append(df2)
nine_cities

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,FLIGHT_STATUS,DAY,MONTH
0,3,2017-01-01,American Airlines,DFW,HNL,2,77.0,19.0,3,3,5.0,3,97.0,517.0,537.0,513.0,3784.0,1,1,1
1,5,2017-01-01,American Airlines,DFW,OGG,2,399.0,12.0,3,4,6.0,3,394.0,503.0,498.0,480.0,3711.0,1,1,1
2,27,2017-01-01,American Airlines,DFW,SFO,4,6.0,18.0,4,4,8.0,4,10.0,237.0,241.0,215.0,1464.0,1,1,1
3,32,2017-01-01,American Airlines,DFW,DTW,2,-1.0,9.0,2,3,8.0,3,-21.0,154.0,134.0,117.0,986.0,0,1,1
4,36,2017-01-01,American Airlines,DFW,STL,3,-1.0,13.0,3,4,4.0,4,-10.0,97.0,88.0,71.0,550.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934140,5674579,2017-12-31,United Airlines,ORD,MCI,3,0.0,29.0,4,4,5.0,4,0.0,100.0,100.0,66.0,403.0,1,31,12
934141,5674581,2017-12-31,United Airlines,SFO,RNO,2,-8.0,17.0,2,2,4.0,2,-18.0,65.0,55.0,34.0,192.0,0,31,12
934142,5674583,2017-12-31,United Airlines,ORD,SAN,3,111.0,16.0,3,3,3.0,3,103.0,266.0,258.0,239.0,1723.0,1,31,12
934143,5674600,2017-12-31,United Airlines,SFO,HNL,4,-7.0,14.0,4,4,3.0,4,-43.0,358.0,322.0,305.0,2398.0,0,31,12
934144,5674602,2017-12-31,United Airlines,SFO,IAH,1,-4.0,16.0,1,2,10.0,2,-13.0,232.0,223.0,197.0,1635.0,0,31,12